In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Summery
1. Reading files
2. Sanity check
3. EDA

In [2]:
!pwd

/opt/ml/notebooks

In [3]:
orders = pd.read_csv('../data/machine_learning_challenge_order_data.csv', parse_dates={'date':['order_date']})
labels = pd.read_csv('../data/machine_learning_challenge_labeled_data.csv')

In [4]:
#lables are imbalance
labels.is_returning_customer.value_counts()

0    189948
1     55507
Name: is_returning_customer, dtype: int64

In [5]:
orders.head()

,date,customer_id,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id
0,2015-06-20,000097eabfd9,19,1.0,0,0.0,0.000,11.46960,5803498,20326,1779,30231,4356
1,2016-01-29,0000e2c6d9be,20,1.0,0,0.0,0.000,9.55800,239303498,76547,1619,30359,4356
2,2017-02-26,000133bb597f,19,1.0,0,0.0,0.493,5.93658,206463498,33833,1619,30359,4324
3,2017-02-05,00018269939b,17,1.0,0,0.0,0.493,9.82350,36613498,99315,1619,30359,4356
4,2015-08-04,0001a00468a6,19,1.0,0,0.0,0.493,5.15070,225853498,16456,1619,29463,4356

In [6]:
orders.dtypes

date                   datetime64[ns]
customer_id                    object
order_hour                      int64
customer_order_rank           float64
is_failed                       int64
voucher_amount                float64
delivery_fee                  float64
amount_paid                   float64
restaurant_id                   int64
city_id                         int64
payment_id                      int64
platform_id                     int64
transmission_id                 int64
dtype: object

In [7]:
orders.describe()

,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,restaurant_id,city_id,payment_id,platform_id,transmission_id
count,786600.000000,761833.000000,786600.000000,786600.000000,786600.00000,786600.000000,7.866000e+05,786600.000000,786600.000000,786600.000000,786600.000000
mean,17.588796,9.436810,0.031486,0.091489,0.18118,10.183271,1.628641e+08,47179.750497,1668.509077,29868.529382,4253.246112
std,3.357192,17.772322,0.174628,0.479558,0.36971,5.618121,8.783082e+07,25904.630565,87.192665,1160.893265,572.855666
min,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,7.349800e+04,230.000000,1491.000000,525.000000,212.000000
25%,16.000000,1.000000,0.000000,0.000000,0.00000,6.648120,8.602350e+07,24799.000000,1619.000000,29463.000000,4228.000000
50%,18.000000,3.000000,0.000000,0.000000,0.00000,9.027000,1.696135e+08,46467.000000,1619.000000,29815.000000,4324.000000
75%,20.000000,10.000000,0.000000,0.000000,0.00000,12.213000,2.284335e+08,67886.000000,1779.000000,30231.000000,4356.000000
max,23.000000,369.000000,1.000000,93.398900,9.86000,1131.030000,3.404535e+08,100205.000000,1811.000000,30423.000000,21124.000000

Based on `describe` the only missing values are in `customer_order_rank`, which makes sense(it's better to check it, but I didn't), they rank wont get higher if `is_failed == 1`

In [18]:
print('number of unique customers: ', len(labels.customer_id.unique()))
if len(labels) == len(labels.customer_id.unique()):  print('all unqiue')
if len(orders[~orders.customer_id.isin(labels.customer_id.unique())]) == 0 : print('all the labels are in the training')

number of unique customers:  245455
all unqiue
all the labels are in the training

In [ ]:
date